apiVersion: v1
kind: PersistentVolume
metadata:
  name: k3s-pv-1
spec:
  storageClassName: nfs
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /opt/k3sstorage
    server: 192.168.4.66
    readOnly: false